*,
*::before,
*::after {
  box-sizing: border-box;
}

#gems-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gem-card {
    border: 1px solid #ccc;
    padding: 1em;
    gap: 1em;
    width: 200px;
}
